:root {
  --clr-pink-primary: #eb2f64;
  --clr-pink-light: #ff3366;
  --clr-pink-dark: #ba265d;

  --clr-orange-light: #ffb900;
  --clr-orange-dark: #ff7730;

  --clr-gray-dark: #777;
  --clr-gray-dark-2: #999;
  --clr-gray-dark-3: #333;

  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #aaa;
  --clr--blue: #1658a3;
  --clr-green: #28b485;
  --clr-purple-dark: #240238;
  --clr-purple-light-1: #8134af;
  --clr-purple-light-2: #a134e9;
  --clr-purple-light-3: #cf8df5;

  // font variables
  --default-font-size: 1.6rem;
  // --font-primary: 'Nunito', sans-serif;
  // --font-display: 'Josefin Sans', sans-serif;
}

$clr-gray-dark-2: #999;
$clr-gray-light: #e9e9e9;
$clr-black: #000;
$clr-black-light: #000;
$clr-black-dark: #333;
$clr-orange: #ffb900;
$clr-facebook: #3b5998;
$clr-twitter: #00acee;
$clr-instagram-1: #8134af;
$clr-instagram-2: #dd2a7b;
$clr-instagram-3: #feda77;
$clr-puple-light-1: #e0b9e3;
$clr-puple-light-2: #e4b2e6;

$bp-largest-x1: 81.25em; //1300px
$bp-largest: 75em; //1200px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 37.5rem; //600px
$bp-smallest: 25em; //400px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// ::selection {
//   background-color: var(--clr-pink-light);
//   color: var(--clr-white);
// }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.6;
  color: var(--clr-gray-dark);
  cursor: default;
}
