:root {
  --clr-pink-primary: #eb2f64;
  --clr-pink-light: #ff3366;
  --clr-pink-dark: #ba265d;

  --clr-orange-light: #ffb900;
  --clr-orange-dark: #ff7730;

  --clr-gray-dark: #777;
  --clr-gray-dark-2: #999;
  --clr-gray-dark-3: #333;

  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray: #aaa;
  --clr-gray-dark-2: #999;
  --clr-gray-light: #e9e9e9;
  --clr-blue: #1658a3;
  --clr-green: #28b485;
  --clr-red: rgba(244, 63, 94, 1);
  --clr-purple-dark-1: #240238;
  --clr-purple-dark-2: #570686;
  --clr-purple-light-1: #8134af;
  --clr-purple-light-2: #a134e9;
  --clr-purple-light-3: #cf8df5;

  --clr-facebook: #3b5998;
  --clr-twitter: #00acee;
  --clr-instagram-1: #8134af;
  --clr-instagram-2: #dd2a7b;
  --clr-instagram-3: #feda77;

  // font variables
  --default-font-size: 1.6rem;
}

$bp-largest-x1: 81.25em; //1300px
$bp-largest: 75em; //1200px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 37.5rem; //600px
$bp-smallest: 25em; //400px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::selection {
  background-color: var(--clr-purple-light-3);
  color: var(--clr-white);
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  font-size: var(--default-font-size);
  line-height: 1.6;
  color: var(--clr-gray-dark);
  scroll-behavior: smooth;
  cursor: default;
}

.heading-left {
  grid-column: 1 / span 4;
}

.heading-right {
  grid-column: 5 / span 4;
}

.img-1 {
  grid-area: 3 / 2 / span 5 / span 5;
}

.img-2 {
  grid-area: 5 / 3 / span 5 / span 5;
}

.img-3 {
  grid-area: 2 / 5 / span 5 / span 5;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
